__pycache__
.benchmarks
.cache
.coverage
.direnv
.env
.envrc
.idea
.pytest_cache
.venv
*.egg-info
*.gguf
*.pyd
*.so
benchmarks/results
benchmarks/env
build
Cargo.lock
dist
docs/build
logs
rust-coverage
target
